* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
}

body {
    background-color: #222222;
}

button {
    max-width: 70px;
    max-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
}

.flex {
    max-width: 700px;
}

.ul {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: max-content;
    justify-content: center;
    gap: 15px;
    list-style: none;
    margin-top: 35px;
    font-size: 35px;
}

@media (max-width: 426px) {
    .ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: -30px;
    }
    
}